@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');
*{
  /*El pading crece hacia dentro el margin hacia afuera no. */
  box-sizing: border-box;
}
body{
  font-family: 'Titillium Web', sans-serif;
  font-size: 100%; 
/*  asi es el usuario el que decide el tamaño de fiuente que llave; */
}
p{
  color: #646464;
}
h1,h2,h3, h5, h6{
  font-weight: 700;
  color: #515151;
}
a{
  text-decoration: none;
}
footer{
  background-color: #ebebeb;
}
h1{
  font-size: 130%;
}
h2{
  font-size: 125%;
}
h3{
  font-size: 120%;
}
h4{
  font-size: 115%;
}
h5{
  font-size: 110%;
}
h6{
  font-size: 105%;
}

main .titulohome{
  display: none;
}
.row{
  max-width: 1004px;
  margin: 0 auto;
}
.row::after{
  content: '';
  display: block;
  height: 0;
  clear: both;

}
/*INICIO HEADER*/
header{
  height: 120px;
  padding: 40px 0;
}
header .logo img{
  border-right: 1px solid #eee;
}
header nav ul li{ 
/*  quiero que se dispongan en linea pero que conserver la pripiedad de ancho y largo.*/
display: inline-block;
  
}

header nav ul li a{
  /*Para que todos los elementos sea clikables. el "a" se convierte en bloque y todo hace de botón*/
  display: block;
  /*ahora le doy tamaño a los botones*/
  padding: 5px 30px 56px 30px;
  text-align: center;
  color: #646464;
}
header nav ul li a:hover{
  border-bottom: 3px solid red;
}

header .carrito{
  border: 2px solid #646464;
  width: 80px;
  height: 60px;
  border-radius: 30px; 
  padding: 15px 25px;
  cursor: pointer;
}

header .carrito a{
  color: #646464;
}

header .carrito:hover{
  background-color: #646464;
  border: 0;
}

header .carrito a:hover{
  color:#fff;
  border: 0;
}

header .logo, nav{
  float: left;
}
header .carrito{
  float: right;
}
/*FIN HEADER*/
.hero{
  height: 430px;
  background-image: url(../images/chica.jpg);
  background-size: cover;
  background-position: top;
}

/*INICIO MAIN PRODUCTOS*/
/*Para la linea de productos*/
main .products hr{
  border-color: #eee;
  margin-top: 40px;
  max-width: 60%; 
}
main .products h2{
  text-align: center;
  background-color: #fff;
   max-width: 25%; 
  margin: -20px auto 20px auto;
}
main .products article{
  border:4px solid #eee;
  width: 33.33%;
  float: left;
  margin: 1% 0.5%;
  position: relative;
}
main .products h4, main .products p{
  text-align: center;
}
main .products .precio{
  font-weight: 700;
  padding: 20px;
}

main .products .descuento{
  position: absolute;
  top:25px;
  left: -4px;
  background-color: #fe0000;
  opacity: 0.7;
  color: #fff;
  font-weight: 700;
  padding: 10px 20px;
}
/*INICIO BRANDS HOME*/

main .brands{
  margin: 40px auto;
}

main .brands h2{
  display: none;
}
main .brands .brand{
  float: left;
  border: 4px solid #ebebeb;
  margin: 0px 4.5% 0px 1%;
}
main .brands .brand:last-child{
  margin-right: 0%;
}

/*FOOTER*/

footer .footer_sup{
  padding: 50px 0;
}

footer .footer_inf{
  border-top: 1px solid #000;
  padding: 20px 0;
}
footer a{
  color: #646464;
  font-weight: 700;

}



